body {
  box-sizing: border-box;
  margin: 0;
  background-color: #add8e6;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin-top: 3rem;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.25rem;
  border-radius: .25rem;
  padding: 1rem;
}

.blue {
  color: blue;
}

.page {
  text-align: center;
}

.board {
  margin-top: 3rem;
  display: inline-block;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(1),
.box:nth-child(2) {
  border-right: 8px solid black;
}

.row:nth-child(1),
.row:nth-child(2) {
  border-bottom: 8px solid black;
}

@media (hover: hover) {
  button:hover {
    background-color: #3b3bff;
    cursor: pointer;
  }

  .box:hover {
    background-color: #d8f3fc;
    cursor: pointer;
  }
}
